.bsc-setting-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.bsc-setting-left{
    width: 10%;
    border-right: 1px solid #ddd;
}
.bsc-setting-left ul li{
    margin-bottom: 20px;
    cursor: default;
    font-weight: 600;
    color: #939faa;
}
.bsc-setting-left ul li.bsc-active{
    color: #3c434a;
}
.bsc-setting-right-area{
    width: 88%;
}

/*Css for color picker*/
.wp-color-result-text{
    display: none;
}
.color-picker-single{
    display: flex;
    align-items: center;
}
.color-picker-single label{
    display: inline-block;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #b8b7b7;
    border-radius: 0 3px 3px 0;
}
.wp-color-result{
    width: 40px;
    height: 31px;
    border:none;
    border-radius: 3px 0 0 3px !important;
    outline: 0;
}
.wp-picker-input-wrap label{
    padding:0;
    border:none;
    border: 1px solid #ddd;
}
.wp-picker-input-wrap input{
    border:none;
}
.wp-picker-container{
    position: relative;
}
.wp-picker-input-wrap{
    z-index: 1000;
    width: 270px;
    position: absolute;
}
.wp-picker-holder{
    z-index: 1000;
    position: absolute;
}

/*Form style*/
/* .bsc-form-wrapper{
    width: 100%;
    padding: 20px 10px;
} */
.bsc-single-row{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 10px 0;
}
.bsc-column{
    width: 30%;
    margin-right: 4%;
}
.bsc-column:last-child{
    margin-right: 0;
}
.bsc-column label{
    display: block;
}
.bsc-column select{
    width: 100%;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.bsc-column input{
    width: 100%;
    border: 1px solid #ddd;
}
