.bsc_button_metaboxes input{
    width: 100%;
    border: 1px solid #ddd;
}
.bsc-setting-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.bsc-setting-left{
    width: 10%;
}
.bsc-setting-left ul li{
    margin-bottom: 20px;
    cursor: default;
    font-weight: 600;
    color: #939faa;
}
.bsc-setting-left ul li.bsc-active{
    color: #3c434a;
}
.bsc-setting-right-area{
    width: 88%;
}

/*Css for color picker*/
.wp-color-result-text{
    display: none;
}
.color-picker-single{
    display: flex;
    align-items: center;
}
.color-picker-single label{
    display: inline-block;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #b8b7b7;
    border-radius: 0 3px 3px 0;
}
.wp-color-result{
    width: 40px;
    height: 31px;
    border:none;
    border-radius: 3px 0 0 3px !important;
    outline: 0;
}
.wp-picker-input-wrap{
    width: 217px !important;
}
.wp-picker-input-wrap label{
    padding:0;
    border:none;
    border: 1px solid #ddd;
}
.wp-picker-input-wrap input{
    border:none;
}
.wp-picker-container{
    position: relative;
    margin: 0 !important;
}
.wp-picker-input-wrap{
    z-index: 1000;
    width: 270px;
    position: absolute;
}
.wp-picker-holder{
    z-index: 1000;
    position: absolute;
}
.bsc-setting-right-area{
    border-left: 1px solid #ddd;
    padding-left: 20px ;
}
.bsc-style-form{
    display: none;
}

/*Form style*/
.bsc-single-row{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.bsc-column{
    width: 30%;
    margin-right: 4%;
}
.bsc-column:last-child{
    margin-right: 0;
}
.bsc-column label{
    display: block;
    color: #686868;
    font-size: 13px;
    margin-bottom: 5px;
}
.bsc-label{
    margin: 0 !important;
}
.bsc-column select{
    width: 100%;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.bsc-column input[type='text']{
    width: 100%;
    border: 1px solid #ddd;
}


/*License page*/
.bsc-license-page{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.bsc-message{
    font-size: 14px;
    color: #787878;
}
.bsc-license_form label{
    font-size: 18px;
}
.bsc-license_form input{
    width: 500px;
    border: 1px solid #ddd;
    padding: 3px 10px;
    outline: 0;
}
.bsc-license_form span{
    color: #939393;
    font-size: 13px;
    font-style: italic;
}
.bsc-active-btn{
    padding: 3px 35px !important;
}